---
layout: templates/base.njk
---
<main>
  <div class="masonry">
    {%- for node in gallery -%}
      <div class="grid">
        <a class="grid__link" href="{{node.image_src}}" title="{{node.title}}"></a>
        {% responsiveImage node.image_src, node.title %}
        <div class="grid__body">
          <div class="relative">
            <h1 class="grid__title">{{node.title}}</h1>
            <p class="grid__location">{{node.location}}</p>
          </div>
        </div>
      </div>
    {%- endfor %}
  </div>
</main>