---
layout: templates/base.njk
---
<main>
  <div class="masonry">
    <div class="grid">
      <a class="grid__link" href="assets/images/boats.jpg" title="Boats, India"></a>
      <img src="assets/images/boats.jpg">
      <div class="grid__body">
        <div class="relative">
          <h1 class="grid__title">Boats</h1>
          <p class="grid__author">Rajasthan, India</p>
        </div>
      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/fountain.jpg" title="Fountain, India"></a>
      <img src="assets/images/fountain.jpg">
      <div class="grid__body">
        <div class="relative">
          <h1 class="grid__title">Fountain</h1>
          <p class="grid__author">Delhi, India</p>
        </div>
      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/piano_man.jpg" title="Piano Man, Germany"></a>
      <img src="assets/images/piano_man.jpg">
      <div class="grid__body">
        <div class="relative">
          <h1 class="grid__title">Piano Man</h1>
          <p class="grid__author">Frankfurt, Germany</p>
        </div>
      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/eiffel_tower.jpg" title="Eiffel Tower, France"></a>
      <img src="assets/images/eiffel_tower.jpg">
      <div class="grid__body">
        <div class="relative">

          <h1 class="grid__title">Eiffel Tower</h1>
          <p class="grid__author">Paris, France</p>
        </div>

      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/old_lady.jpg" title="Old Lady, India"></a>
      <img src="assets/images/old_lady.jpg">
      <div class="grid__body">
        <div class="relative">

          <h1 class="grid__title">Old Lady</h1>
          <p class="grid__author">Rajasthan, India</p>
        </div>

      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/ggn.jpg" title="Architecture, India"></a>
      <img src="assets/images/ggn.jpg">
      <div class="grid__body">
        <div class="relative">

          <h1 class="grid__title">Architecture</h1>
          <p class="grid__author">Gurugram, India</p>
        </div>

      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/lion.jpg" title="Lion, India"></a>
      <img src="assets/images/lion.jpg">
      <div class="grid__body">
        <div class="relative">
          <h1 class="grid__title">Lion</h1>
          <p class="grid__author">India</p>
        </div>

      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/sun_set.jpg" title="Sun set, India"></a>
      <img src="assets/images/sun_set.jpg">
      <div class="grid__body">
        <div class="relative">

          <h1 class="grid__title">Sunset</h1>
          <p class="grid__author">Rajasthan, India</p>
        </div>

      </div>
    </div>
    <div class="grid">
      <a class="grid__link" href="assets/images/rajasthan.jpg" title="Fatehsagar Lake, India"></a>
      <img src="assets/images/rajasthan.jpg">
      <div class="grid__body">
        <div class="relative">

          <h1 class="grid__title">Fatehsagar Lake</h1>
          <p class="grid__author">Rajasthan, India</p>
        </div>

      </div>
    </div>
  </div>
</main>