<!-- Begin Footer -->
<footer>
  <div class="copyrights">
    <p>&copy; Gurpreet Singh 2022.</p>
  </div>
</footer>
<!-- End Footer -->

<!-- Begin JavaScript -->
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/imagesloaded.js"></script>
  <script src="/assets/js/magnific-popup.js"></script>
  <script src="/assets/js/main.js"></script>
<!-- End JavaScript -->